body{
  background-color: #2A2927;
}

p{
  font-size: 30px;
  text-align: center;
}

.iconsBar {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.iconsBar img{
  height: 30px;
  width: 30px;
  color: #FCCF0D;
  padding: 10px;
}

.songList{
  border-style: solid;
  border-radius: 25px;
  color: #fccf0d;
  width: 35%;
  margin: 0 auto;
  padding-top: 5px;
  margin-top: 200px;
}

.songList li{
  list-style: none;
  text-align: center;
  color: #fccf0d;
}

img{
  cursor: pointer;
}

li {
  cursor: pointer;
  padding: 3px;
}

li:hover{
  color:white;
}
